{{- $faqs := .Params.faq -}}
{{- if $faqs }}
  {{- $items := slice -}}
  {{- range $faqs }}
    {{- if and .q .a }}
      {{- $items = $items | append (dict "@type" "Question" "name" .q "acceptedAnswer" (dict "@type" "Answer" "text" .a)) -}}
    {{- end }}
  {{- end }}
  {{- if gt (len $items) 0 }}
{{- $json := dict "@context" "https://schema.org" "@type" "FAQPage" "mainEntity" $items | jsonify | safeJS -}}
{{- printf "<script type=\"application/ld+json\">%s</script>" $json | safeHTML -}}
  {{- end }}
{{- end }}
